name: CI

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        target: [fixpoint-x64-linux]
        
    steps:
      - uses: actions/checkout@v4

      - name: Install LLVM/Clang
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 21 all
          sudo apt install -y llvm-21-dev libclang-21-dev

      - name: Update Submodules
        run: git submodule update --init

      - name: Configure
        run: cmake --preset ${{ matrix.target }} -DLLVM_DIR=/usr/lib/llvm-21/lib/cmake/llvm -DClang_DIR=/usr/lib/llvm-21/lib/cmake/clang

      - name: Build
        run: cmake --build --preset ${{ matrix.target }} --config Release

      - name: Test
        run: ctest --preset ${{ matrix.target }} --output-on-failure
